<div class="mb-3 form-floating">
  <input
    [class.is-invalid]="control.invalid && control.touched"
    [type]="type()"
    [formControl]="control"
    class="form-control"
    placeholder="{{ label() }}"
    [autocomplete]="'off'"
  />
  <label>{{ label() }}</label>
  <div *ngIf="control.hasError('required')" class="invalid-feedback text-start">
    Please enter a {{ label() | lowercase }}
  </div>
  <div
    *ngIf="control.hasError('minlength')"
    class="invalid-feedback text-start"
  >
    {{ label() }} must be at least
    {{ control.errors?.['minlength'].requiredLength }} characters
  </div>
  <div
    *ngIf="control.hasError('maxlength')"
    class="invalid-feedback text-start"
  >
    {{ label() }} must be at most
    {{ control.errors?.['maxlength'].requiredLength }} characters
  </div>
  <div
    *ngIf="control.hasError('isMatching')"
    class="invalid-feedback text-start"
  >
    Passwords must match
  </div>
</div>
